html,body {
    background-color: #cef;
    height: 100%;
}

a, a:visited {
    color: #08a;
}

a:hover {
    color: #0cd;
}

ul {
    list-style: none;
    margin: 20px 0px 0px;
}

li { 
    padding: 5px;
}

li:nth-child(odd) {
    background-color:#f0f0ff;
}

div#wrap {
    min-height: 100%;
    top:0px;
    bottom: 20px;
    width: 960px;
    margin: 0px auto;
    background: #fff;
    box-shadow: #6ac 0px 0px 20px 1px;
}

div#footer {
    position: absolute;
    text-align: right;
    height: 25px;
    bottom: 5px;
}